<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/styles/profile.css">

    <style>
        .first-box{
            justify-content: space-evenly;
        }

        .connect button{
            background-color: orange;
            font-weight: 5  00;
            font-size: 24px;
            border-radius: 15px;
            border: none;
            padding: 5px 20px;
            box-shadow: 0px 4px 4px 2px rgba(141, 141, 141, 0.77);
            transition: 0.1s ease-in-out;
            cursor: pointer;

        }

        .connect button:active{
            box-shadow: 0px 1px 1px 1px rgba(141, 141, 141, 0.77);

        }
    </style>
</head>
<body>
    <%- include('partials/navbar.ejs')%>
    <div class="container">
        <div class="profile">
            <div class="first-box">
                <div class="me">
                    <% if(user.profilePic !== ""){ %>
                        <img src="<%= user.profilePic %>">
                    <% } else{ %>
                        <img src="/images/def-profile.webp">
                    <% } %>
                    <a id="username"><%= user.username %></a>
                </div>
                <div class="friends">
                    <div class="followings-class">
                        <a>Followings</a>
                        <a class="Followings"><%= user.following.length %></a>
                    </div>

                    <div class="followers-class">
                        <a>Followers</a>
                        <a class="followers"><%=user.followers.length%></a>
                    </div>
                </div>
                <% if(user.username !== currentUser.username){ %>
                    <form class="connect" method="post" action="/home/<%- user._id %>/follow">
                        <% if(user.followers.some(follower => follower.username === currentUser.username)) {%>
                            <button>Followed</button>
                        <% } else{ %>
                            <button>Follow</button>
                        <% } %>
                    </form>
                <% } %>
            
            </div>
            <div class="posts-box">
                <% if(usersPosts.length !== 0){ %>
                    <% usersPosts.forEach((post) =>{  %>
                        <%- include('partials/posts.ejs', {post: post, user: user, currentUser})%>
                    <% }) %>
                <% } else{ %>
                    <a class="noResults">There are no posts to view</a>
                <% } %>

            </div>
            
        </div>
    </div>

</body>
</html>